.content{
  width: 100%;
  min-width: 320px;
  height: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.content .main{
  width: 100%;
  height: auto;
  min-width: 320px;
  align-self: flex-start;
}

.content .info{
  width: 100%;
  height: auto;
  min-width: 320px;
  align-self: flex-start;
}

.content .map{
  width: 100%;
  height: calc(30vh);
}

.content .header{
  width: 100%;
  min-height: 90px;
  height: auto;
}

.content .header h1{
  margin: 0;
  padding: 14px 20px 10px 100px;
  line-height: 32px;
  font-size: 32;
  font-weight: 300;
  text-transform: uppercase;
  position: relative;
}

.content .header h1::before{
  position: absolute;
  content: '';
  width: 90px;
  height: 90px;
  left: 10px;
  top: 10px;
  background-image: url('./../img/sushi-with-sticks.png');
  background-size: 70px;
  background-repeat: no-repeat;
}

@media (min-width: 800px) {
    .content{
      height: calc(100vh - 100px);
    }
    .content .main{
      width: 60%;
      min-width: 480px;
      height: 100%;
    }
    .content .map{
      height: calc(100% - 90px);
    }
    .content .info{
      width: 40%;
      min-width: 320px;
      height: 100%;
    }
}
