#details{
  position: relative;
}

#details header{
  min-height: 90px;
  width: 100%;
  border: 1px solid rgba(100, 100, 100, 0.4);
}

#details header .controls, #details header .placeInfo{
  display: inline-block;
}

#details header .controls{
  width: 100px;
  height: auto;
  text-align: right;
  vertical-align: top;
}

#details header .placeInfo{
  width: calc(100% - 100px);
}

#details header h2, #details header address, #details header .rating{
  padding: 3px 7px;
}

#details address, #details .rating{
  display: inline-block;
  width: auto;
}

#reviews, #photos{
  height: 60vh;
}

#reviews ul, #photos ul{
  height: 100%;
  padding: 0;
}

#reviews ul li{
  font-size: 0.9em;
  font-weight: 300;
  line-height: 1.4em;
  padding: 6px 15px;
  border-bottom: 1px solid black;
}

#reviews ul li span{
  padding: 0 5px 0 0;
  color: gold;
}

@media (min-width: 800px) {
  #reviews, #photos{
    height: calc((100% - 90px) / 2);
  }
}

/* Back symbol*/
.back {
  display: inline-block;
  position: relative;
  width: 15px;
  height: 40px;
  opacity: 0.6;
  padding: 10px;
  cursor: pointer;
}

.back:hover {
  background-color: rgba(255,255,255,0.1);
  opacity: 1;
}

.back:before, .back:after {
  position: absolute;
  top: 10px;
  right: 17px;
  content: ' ';
  height: 20px;
  width: 3px;
  background-color: red;
}

.back:before {
  transform: skewX(-30deg);
}
.back:after {
  top: 30px;
  transform: skewX(30deg);
}

/* Add symbol*/
.add {
  display: inline-block;
  position: relative;
  width: 40px;
  height: 40px;
  opacity: 0.6;
  padding: 10px;
  background-image: url('./../img/star.png');
  background-position: 7px 7px;
  background-repeat: no-repeat;
  background-size: 44px auto;
  cursor: pointer;
}

.add:hover {
  background-color: rgba(255,255,255,0.1);
  opacity: 1;
}
