#details{
  position: relative;
}

#details header{
  min-height: 90px;
  width: 100%;
  border: 1px solid rgba(100, 100, 100, 0.4);
}

#details header .controls, #details header .placeInfo{
  display: inline-block;
}

#details header .controls{
  width: 100px;
  height: auto;
  text-align: right;
  vertical-align: top;
}

#details header .placeInfo{
  width: calc(100% - 100px);
}

#details header h2, #details header address, #details header .rating{
  padding: 3px 7px;
}

#details address, #details .rating{
  display: inline-block;
  width: auto;
}

#reviews, #photos{
  height: 60vh;
}

#reviews ul{
  height: 100%;
  padding: 0;
  background-color: rgba(200,200,200,0.1);
  list-style-type: none;
}

#reviews ul li{
  font-size: 0.9em;
  font-weight: 300;
  line-height: 1.4em;
  padding: 6px 15px;
  border-bottom: 1px solid black;
}

#reviews ul li .rating{
  padding: 0 5px 0 0;
  color: gold;
}

@media (min-width: 800px) {
  #reviews, #photos{
    height: calc((100% - 90px) / 2);
  }
  #reviews ul {
    overflow-y: scroll;
    overflow-x: hidden;
  }
}
