
/* modal */
.modal{
  position: absolute;
  width: calc(100% - 80px);
  height: auto;
  top: 100px;
  left: 20px;
  transform-origin: center;
  padding: 20px;
  background-color: black;
  border: 1px solid red;
  border-radius: 5px;
}

.modal textarea, .modal input, .modal label, .modal .button{
  display: block;
  width: 100%;
  padding: 0;
}

.modal label{
  margin: 8px 0;
}

.modal textarea, .modal input{
  width: calc(100% - 10px);
  padding: 5px;
  background-color: lightgray;
  border: 1px solid darkgrey;
  border-radius:  3px;
}

.modal .alert{
  padding: 5px 0;
  color: red;
  font-size: 0.8em;
  text-shadow: 0 0 2px rgba(255,255,255, 0.4);
}

.modal .stars{
  width: 100%;
  height: auto;
  text-align: center;
  font-size: 2em;
  background: none;
  overflow: hidden;
}

.modal .stars li{
  display: inline-block;
  padding: 10px;
  color: gold;
  text-shadow: 0 0 5px none;
  cursor: pointer;
}

.modal .stars li:hover{
  color: white;
  text-shadow: 0 0 5px gold;
}

.modal .button{
  min-width: 100px;
  height: auto;
  border: 1px solid red;
  border-radius: 3px;
  padding: 10px 0;
  text-align: center;
  cursor: pointer;
  background-color: rgba(255,255,255,0.1)
}

.modal .button:hover{
  background-color: rgba(255,255,255,0.2)
}

.modal .button:active{
  background-color: rgba(255,255,255,0.05)
}

/* Controls */
.controls{
  min-width: 100px;
  height: auto;
}

/* Close symbol*/
.close {
  display: inline-block;
  position: absolute;
  width: 20px;
  height: 20px;
  right: 0;
  top: 0;
  opacity: 0.6;
  padding: 10px;
  cursor: pointer;
}

.close:hover {
  opacity: 1;
}

.close:before, .close:after {
  position: absolute;
  top: 10px;
  right: 17px;
  content: ' ';
  height: 20px;
  width: 3px;
  background-color: red;
}

.close:before {
  transform: rotate(-45deg);
}
.close:after {
  transform: rotate(45deg);
}

/* Plus and Refresh */
.plus, .refresh{
  display: inline-block;
  position: relative;
  text-align: right;
  width: 40px;
  height: 40px;
  /* right: 0;
  top: 0; */
  opacity: 0.6;
  padding: 10px;
  cursor: pointer;
}

.plus:hover, .refresh:hover {
  background-color: rgba(255,255,255,0.1);
  opacity: 1;
}

.refresh{
  background-image: url('./../img/refresh.svg');
  background-repeat: no-repeat;
  background-position: 10px 10px;
}

.plus:before, .plus:after {
  position: absolute;
  top: 10px;
  right: 30px;
  content: ' ';
  height: 40px;
  width: 3px;
  background-color: red;
}

.plus:after {
  /* top: 30px; */
  transform: rotate(90deg);
}


/* Back symbol*/
.back{
  display: inline-block;
  position: relative;
  width: 15px;
  height: 40px;
  opacity: 0.6;
  padding: 10px;
  cursor: pointer;
}

.back:hover {
  background-color: rgba(255,255,255,0.1);
  opacity: 1;
}

.back:before, .back:after {
  position: absolute;
  top: 10px;
  right: 17px;
  content: ' ';
  height: 20px;
  width: 3px;
  background-color: red;
}

.back:before {
  transform: skewX(-30deg);
}
.back:after {
  top: 30px;
  transform: skewX(30deg);
}

/* Add symbol*/
.add {
  display: inline-block;
  position: relative;
  width: 40px;
  height: 40px;
  opacity: 0.6;
  padding: 10px;
  background-image: url('./../img/star.png');
  background-position: 7px 7px;
  background-repeat: no-repeat;
  background-size: 44px auto;
  cursor: pointer;
}

.add:hover {
  background-color: rgba(255,255,255,0.1);
  opacity: 1;
}
