.filter{
  min-height: 90px;
}

.filter h3{
  padding: 20px 10px 5px 10px;
  margin: 0;
}

.filter .rating{
  padding: 0px 10px;
  display: inline-block;
}

.filter label{
  font-size: 0.8em;
  padding-right: 10px;
  vertical-align: text-top;
}
.filter ul{
  background: none;
  display: inline-block;
  padding-right: 10px;
  overflow-y: auto;
}

.filter ul li{
  font-size: 1.2em;
  display: inline;
  cursor: pointer;
  color: gold;
}
.filter ul li:hover{
  color: white;
  text-shadow: 0 0 5px darkred;
}
