li.item{
  width: 100%;
  margin: 0;
  padding: 0;
  height: auto;
  cursor: pointer;
}

li.item  h3{
  margin: 0;
  font-weight: 100;
  color: darkred;
  padding: 5px 0;
}

li.item {
  padding: 3px 7px 3px 7px;
  border: 1px solid rgba(255, 100, 100, 0.2);
  transition: background-color 0.2s;
  -webkit-transition: background-color 0.5s;
}

li.item:hover{
  background-color: rgba(255, 100, 100, 0.1);
}
