li.item{
  height: auto;
  cursor: pointer;
  padding: 8px;
  border: 1px solid rgba(255, 100, 100, 0.2);
  transition: background-color 0.2s;
  -webkit-transition: background-color 0.5s;
}

li.item:hover{
  background-color: rgba(255, 100, 100, 0.1);
}

li.item *{
  font-style: normal;
  font-weight: 300;
  padding-bottom: 5px;
}

li.item *:last-child{
  padding-bottom: 0;
  font-size: 0.8em;
}
