@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400&subset=latin-ext');

body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  box-sizing: border-box;
  background-color: black;
  color: lightgray;
}

h1, h2, h3, ul, p{
  text-transform: capitalize;
  margin: 0;
  padding: 0;
}

.container{
  width: 100%;
  max-width: 1200px;
}

h1, h2, h3{
  color: red;
  font-weight: 300;
}

ul{
  padding: 0;
  margin: 0;
  list-style: none;
}

.hidden{
  display: none;
}

/* Scrollbar styling */
ul::-webkit-scrollbar {
    width: 8px;
    background-color: red;
}

ul::-webkit-scrollbar-thumb {
    background-color: darkred;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.9);
}

ul::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color: rgb(50,0,0);
}

@media (min-width: 797px) {
  .container{
    margin: 40px auto 60px auto;
  }

  ul{
    overflow-y: scroll;
    overflow-x: hidden;
  }
}
